@import '../../../shared/variables';

.output-toolbar {
  display: flex;
  flex-direction: column;
  background-color: $bg-dark;

  .tool {
    padding: 10px;
    align-self: center;
    transition: color .25s;

    svg {
      height: 15px;
      width: auto;
    }

    &:hover {
      cursor: pointer;
    }

    &.disabled {
      cursor: default;
      color: lighten($bg-dark, 5);
    }

    &.end {
      margin-top: auto;
    }
  }
}
