@import '../../../shared/variables';

.output-toolbar {
  display: flex;
  flex-direction: column;

  background-color: $bg-dark;

  .tool {
    padding: 10px;
    align-self: center;

    svg {
      height: 15px;
      width: auto;
    }

    &:hover {
      cursor: pointer;
      color: $brand-active;
    }

    &.end {
      margin-top: auto;
    }
  }
}
