.error-dialog {
  .actions {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    > div {
      &:first-child {
        margin-right: 10px;
      }
    }
    SVG {
      height: 18px;
    }
  }
  .message {
    white-space: pre;
  }
}
