.emoji {
    height: 1.2em;
    width: 1.2em;
    background-image: url(https://res.cloudinary.com/divzjiip8/image/upload/v1584808592/sheet_apple_32_indexed_256_poonnh.png);
    display: inline-block;
    vertical-align: text-bottom;
}
