.code-file-editor {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;

  .editor-container {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    position: relative;
  }
}
