@import '../../shared/variables';

.code-file-toolbar {
  display: flex;
  flex-direction: column;
  ul.actions {
    margin: 0;
    padding: 10px;
    border-top: 1px solid $border-color;
    background-color: $bg-container;
    display: flex;
    justify-content: flex-end;

    > li {
      margin: 0 18px;
      display: flex;
      svg {
        height: 14px;
        width: auto;
        margin-right: 9px;
      }
    }
  }
}
