@import '../../shared/variables';

.stage-container-sidebar {
  min-height: 100%;

  ul.stages {
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $border-color;
    background-color: $bg-container;

    > li {
      display: flex;
      align-items: center;

      > a {
        padding: 15px 20px;
        width: 100%;

        &:hover {
          cursor: pointer;
          background-color: lighten($bg-container, 5);
        }

        &.active {
          background-color: lighten($bg-container, 10);
        }
      }
    }
  }
}
