@import '../../shared/variables';

.stage-container {
  background-color: $bg-main;
  height: 100%;
  display: flex;
  flex-direction: column;

  .main-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-grow: 1;
    display: flex;

    .ide-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
