@import '../../../shared/variables';

.add-codefile {
  .actions {
    display: flex;
    margin-top: 20px;

    .submit {
      padding: 8px;
      border: 1px solid $border-color;
      &:hover {
        cursor: pointer;
        border-color: $brand-active;
      }
    }
  }

  .content {
    padding: 0;

    .pane-switch {
      margin-bottom: 0;
      border-left: none;
      border-right: none;
      border-bottom: none;
    }
  }

  .content-body {
    margin-top: 20px;
  }
}
