@import '../../../shared/variables';

.add-stage {
  label {
    display: block;
    text-transform: uppercase;
    font-size: .8em;
    input {
      font-size: 1.2em;
      padding: 3px;
      color: white;
      outline-color: $brand-active;
      outline-width: 1px;
      display: block;
      border: none;
      background-color: $bg-container;
    }
  }

  .actions {
    display: flex;
    margin-top: 20px;

    .submit {
      padding: 8px;
      border: 1px solid $border-color;
      &:hover {
        cursor: pointer;
        border-color: $brand-active;
      }
    }
  }
}
