@import '../../../shared/variables';

.add-stage {
  .actions {
    display: flex;
    margin-top: 20px;
  }

  .shared {
    padding: 15px 30px;
  }

  .content {
    padding: 0;

    .pane-switch {
      margin-bottom: 0;
      border-left: none;
      border-right: none;
      border-bottom: none;
    }
  }
}
