@import '../../../shared/variables';
@import 'SidebarList';

.stage-container-sidebar {
  overflow-y: auto;
  background-color: $bg-container;
  width: $sidebar-width;
  min-width: $sidebar-width;
  border-right: 1px solid $bg-darker;
  font-size: .92em;

  label {
    $darker: darken($bg-container, 2);
    background-color: $darker;
    color: $darker-font;
    margin-top: 8px;
    padding: 5px 0;
    text-align: center;
    font-size: 13px;
    display: block;
  }
}
