@import '../../../shared/variables';
@import '../../../shared/caret';

%sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

%sidebar-list-item {
  display: flex;
  flex-direction: column;
  min-height: 30px;

  > a, > .action {
    padding: 15px 20px 8px;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    svg {
      width: 14px;
      height: auto;
      margin-right: 10px;
    }

    &.active {
      color: $brand-active;
      svg {
        color: $brand-active;
      }
    }
  }
}

%caret-list-item {
  > a {
    &::before {
      content: '';
      display: block;
      @include caret-right(5px);
      margin-right: 12px;
    }
    &.active::before {
      @include caret-right(5px, $brand-active);
    }

    &.open {
      &::before {
        @include caret-down(5px);
        margin-right: 7px;
      }
    }

    &.open.active {
      &::before {
        @include caret-down(5px, $brand-active);
        margin-right: 7px;
      }
    }
  }
}
