.btn {
  cursor: pointer;
  width: fit-content;
  padding: 7px 17px;
  text-align: center;
  font-size: 14px;
  display: flex;
  SVG {
    height: 14px;
    width: auto;
    margin-right: 10px;
  }
  &.disabled {
    color: $disabled;
    border: 1px solid $disabled;
  }
  &:hover {
    cursor: pointer;
  }
  &.btn-default {
    border: 1px solid $border-color;
    &:hover {
      cursor: pointer;
      border-color: white;
    }
  }
  &.btn-primary {
    border: 1px solid $border-color;
    &:hover {
      cursor: pointer;
      border-color: $brand-active;
    }
  }
}
