$bg-darker: #0d1019;
$bg-dark: #12151e;
$bg-main: #252830;
$bg-container: #1c202b;

$border-color: #363636;

$light-font: #cfd2da;
$darker-font: #828181;

$success-light: #78b087;
$success-dark: #dceede;

$info-light: #003cff;
$info-dark: #b2c4ff;

$danger-light: #c70707;
$danger-dark: #e8c6c6;

$white: #fff;

$brand-active: #ff8d21;

$disabled: #869094;

$sidebar-width: 225px;
