$bg-darkest: #030408;
$bg-darker: #0d1019;
$bg-dark: #12151e;
$bg-main: #252830;
$bg-container: #1c202b;

$border-color: #363636;
$border-highlight: #999;

$light-font: #cfd2da;
$darker-font: #828181;

$success: #1eb948;

$info-light: #003cff;
$info-dark: #b2c4ff;

$danger-light: #c70707;
$danger: #770707;
$danger-muted: #56201b;

$white: #fff;

$brand-active: #ff8d21;

$disabled: #869094;

$sidebar-width: 225px;
