@import '../../../shared/variables';

ul.toolbar li.code-toolbar {
  display: flex;
  flex-grow: .25;
  justify-content: center;

  > label  {
    margin-right: 10px;
  }

  > div {
    transition: color .3s;
    margin-right: 15px;

    &:hover {
      cursor: pointer;
    }

    svg {
      transition: color .3s;
      color: $success;
      height: 18px;
      width: auto;
      margin-right: 10px;
    }
  }
}
