ul.toolbar {
  li.docs {
    justify-content: flex-end;
    display: flex;
    flex-grow: 1;
    
    > a {
      display: flex;

      SVG {
        height: 18px;
        width: auto;
        margin-right: 10px;
      }
    }
  }
}
