@import '../../../shared/variables';

ul.toolbar li.save-toolbar {
  .save {
    &.has-changes {
      color: $success;
      &:hover {
        cursor: pointer;
      }
    }
    &.has-errors {
      color: $danger;
      &:hover {
        cursor: default;
      }
    }
  }
}
