@import '../../../shared/variables';

ul.toolbar {
  list-style: none;
  margin: 0;
  padding: 10px;
  background-color: $bg-darker;
  display: flex;
  align-items: center;

  label {
    transform: rotate(-90deg);
    color: $darker-font;
    font-size: .8em;
    border-bottom: 1px solid lighten($bg-darker, 10);
  }

  > li {
    margin: 0 15px 0 5px;

    &.logo {
      svg {
        height: 30px;
        width: auto;
      }

      width: $sidebar-width;
    }

    &.docs {
      justify-content: flex-end;
      display: flex;
      flex-grow: 1;

      > a {
        display: flex;

        SVG {
          height: 18px;
          width: auto;
          margin-right: 10px;
        }
      }
    }
  }
}
