@import '../../../../../../shared/variables';

.import-files {
  display: flex;
  flex-direction: column;

  .import-action {
    padding: 7px 17px;
    align-items: center;
    margin: 10px 0;
    text-align: center;
    font-size: 14px;
    display: flex;
    border: 1px solid $border-color;

    svg {
      height: 20px;
      margin-right: 10px;
    }

    &:hover {
      cursor: pointer;
      border: 1px solid $brand-active;
    }
  }

  .files-viewer {
    margin: 10px 0;
    .pane {
      background-color: $bg-darkest;
      padding: 10px;
      border: 1px solid $border-color;
    }
  }
}
