@import '../../../shared/variables';

.config {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 40px 80px;
  max-width: 600px;

  .btn {
    margin-top: 10px;
    font-size: 1.1em;
  }
}
