@import '../shared/variables';

.landing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .container {
    background-color: $bg-container;
    flex-direction: row;
    max-width: 400px;
    padding: 20px;
    margin: 20px;
    border: 1px solid $border-color;

    h2 {
      color: $white;
    }

    p {
      color: $light-font;
    }
  }
}
