@import '../../../shared/variables';

.ide-tab {
  display: flex;
  position: relative;
  border: 1px solid $bg-darker;
  border-left: none;
  border-top: none;
  justify-content: center;
  padding: 8px 0;
  font-size: .9em;
  flex-grow: 1;
  max-width: 350px;
  min-width: 200px;
  color: darken($light-font, 20);
  transition: color .25s;

  > .name {
    user-select: none;
    padding: 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &.active {
    background-color: $bg-dark;
    border-bottom: 1px solid transparent;
    color: $brand-active;
    &.config-tab {
      background-color: $bg-main;
    }
    &:hover {
      cursor: default;
    }
  }

  &:hover:not(.active) {
    cursor: pointer;
  }

  .close {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 5px;
    top: 50%;
    transition: opacity .25s, background-color .25s;
    transform: translateY(-50%);
    padding: 0 5px;
    border-radius: 5px;
    background-color: transparent;
    svg {
      margin-top:5px;
      height: 16px;
      width: auto;
    }
    &:hover {
      background-color: $brand-active;
      color: black;
      cursor: pointer;
    }
  }

  &:hover {
    .close {
      opacity: 1;
      pointer-events: all;
      display: block;
    }
  }
}
