@import '../../shared/variables';

.group-list {
  .stage-container-groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .container {
      width: 400px;

      svg {
        height: 15px;
      }
    }
  }
}
