@import '../../shared/variables';

.header {
  background-color: $bg-darkest;
  padding: 10px;
  display: flex;

  img {
    height: 30px;
    width: auto;
    margin-right: 10px;
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;

    li {
      margin: 7px 25px;

      a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        padding: 16px 0;

        &.active {
          color: $brand-active;
          border-bottom: 1px solid $brand-active;
        }
      }
    }
  }
}
