@import '../../shared/variables';

.pane-switch {
  $horiz-padding: 30px;
  $dark-border: darken($border-color, 10);
  margin: 30px 0;
  border: 1px solid $dark-border;
  padding: 30px $horiz-padding;
  position: relative;

  .options {
    display: flex;
    color: white;
    justify-content: center;
    position: absolute;
    top: 0;
    width: calc(100% - #{$horiz-padding * 2});
    transform: translateY(-50%);

    .option {
      text-align: center;
      flex-grow: 1;
      background-color: $dark-border;
      padding: 8px 5px;
      transition: background-color .25s;
      &:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-right: 1px solid transparent;
      }
      &:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      &:hover {
        cursor: pointer;
      }
      &.active {
        background-color: lighten($border-color, 5);
      }
    }
  }
}
