@import '../../shared/variables';

.pane-switch {
  display: flex;
  color: white;
  background-color: black;
  justify-content: center;

  .option {
    text-align: center;
    border: 1px solid $border-color;
    flex-grow: 1;
    padding: 10px 0;
    &:first-child {
      border-right: 1px solid $border-color;
    }
    &:hover {
      cursor: pointer;
    }
    &.active {
      border-color: $brand-active;
    }
  }
}
