@import '../../shared/variables';

input[type="text"], input[type="number"] {
  &.styled {
    font-size: 1em;
    padding: 10px;
    color: white;
    outline-color: $brand-active;
    outline-width: 1px;
    display: block;
    border: 1px solid $border-color;
    background-color: $bg-darkest;
    transition: border .25s;
    &:hover {
      border: 1px solid $border-highlight;
    }
    &:focus:not(.has-error) {
      outline-width: 0;
      box-shadow: 0 0 0 1px $brand-active;
      border: 1px solid $brand-active;
    }
    &[disabled] {
      background-color: $bg-main;
    }
    &.touched.has-error {
      box-shadow: 0;
      box-shadow: 0 0 0 1px $danger;
      border: 1px solid $danger;
    }
  }
}
